body{
    padding: 0;
    margin: 0;
    font-family: serif;
    background-color: pink;
}
.nav{
    width: 900px;
    height: 44px;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 50px;
}
  /* Search Container */
  .search-container {
    position: relative;
    left: -2px;
    width: 100%;
    max-width: 400px;
  }

  /* Search Box */
  .search-box {
    display: flex;
    align-items: center;
    background-color: #fff;

    overflow: hidden;
    transition: all 0.3s ease;
  }

  /* Input */
  .search-input {
    flex: 1;
    padding: 12px 20px;
    border: none;
    outline: none;
    font-size: 16px;

    color: #333;
  }

  /* Button */
  .search-button {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .search-button:hover {
    background-color: rgb(193, 18, 18);
  }

  .search-button svg {
    fill: white;
    width: 20px;
    height: 20px;
  }
  .hemm{
    position: absolute;
    left: 410px;
    top: 8px;
    gap: 10px;
    display: flex;
  }
.sewa{
    border-color: black 1px;
    border-radius: 16px;
    width: 80px;
    height: 30px;
}
.sewa h3{
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: -10px;
    left: 10px;
    color: palevioletred;
}
.jual{
    background-color: red;
    border-radius: 16px;
    width: 80px;
    height: 30px;
}
.jual h3{
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    top: -10px;
    left: 105px;
    color: rgb(255, 255, 255);
}
.haha{
    display: flex;
    position: absolute;
    left: 650px;
    gap: 10px;
}
.harga{
    width: 120px;
    height: 45px;
   background-color: rgb(255, 255, 255);
}
.harga h3{
    position: absolute;
    left: 35px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(244, 131, 131);
}
.filter{
    width: 120px;
    height: 45px;

}
.filter h3{
    position: absolute;
    left: 170px;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(244, 131, 131);
}
