/* CSS for layout and design */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fbd9d9;
    background-image: url('../indonesia2.png');
    background-size: cover; /* Cover the entire background */
}

.container {
    padding: 40px; /* Adjust padding */
    border-radius: 20px; /* Rounded corners */
    width: 100%; /* Full width for responsiveness */
    max-width: 700px; /* Limit maximum width */
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.container h2 {
    color: #b30000;
    font-size: 36px; /* Title size */
    margin-bottom: 40px; /* Space below title */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Space between items */
}

.button {
    background-color: #c83636;
    color: white;
    border: none;
    padding: 15px; /* Padding for buttons */
    border-radius: 30px; /* Rounded button corners */
    cursor: pointer;
    font-size: 16px; /* Button font size */
    transition: background-color 0.3s; /* Transition for hover effect */
}

.button:hover {
    background-color: #a52a2a; /* Darker shade on hover */
}

.back-button {
    position: absolute; /* Absolute positioning for flexibility */
    top: 70px;
    left: 20px;
    font-size: 40px; /* Back button size */
    color: #b30000;
    cursor: pointer; /* Pointer cursor for interaction */
}

.profile {
    position: absolute; /* Absolute positioning for profile icon */
    top: 75px;
    right: 50px; /* Positioning from right */
    font-size: 40px; /* Profile icon size */
    border-radius: 8px; /* Rounded corners */
}