body{
    padding: 0;
    margin: 0;
    font-family: serif;
    background-color: pink;
}
.container img{
    display: flex;

}

.back{
    font-size: 30px;
    position: absolute;
    left: 40px;
    top: 20px;
}

.layanan{
    color: red;
    font-size: 40px;
    font-family: cursive;
    position: absolute;
    left: 200px;
    top: -35px;
}

.icon{
    position: absolute;
    left: 1100px;
    top: 20px;
    color: red;
    font-size: 30px;
    display: flex;
    letter-spacing: 30px;
}
.fitur1{

    display: flex;
    position: absolute;
    top: 150px;
    left: 330px;
}

.fitur2{
    display: flex;
    position: absolute;
    top: 350px;
    left: 330px;
}
.text{
    position: relative;
    top: 80px;
    left: -130px;
}
